.App {
  text-align: center;
  animation: blink 2s ease-in-out infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes blink{
  0%{ opacity: 0;}
  25%{ opacity: 0.25;}
  50%{ opacity: .5;}
  75%{opacity: .75;}
  100%{ opacity: 1;}
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: -1;
  /* opacity: 0.3; */
  background: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
